<flash-message duration="100000" show-close="true" class="floating-message"></flash-message>
<div class="panel panel-default">
    <div class="panel-heading">
        <span ng-hide="original">Crear Bodega/Tienda</span>
        <span ng-show="original">Modificar Bodega/Tienda {{original.name}} ({{original.reference}})</span>
    </div>
    <div class="panel-body">
        <form name="form" novalidate ng-submit="_submit();">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input"  ng-class="{'selected':store.name}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                               ng-model="store.name"
                               ng-required="true" ng-minlength="3" tabindex="101" autofocus
                               aria-required="true" aria-invalid="true" ng-minlength="3"
                               name="name">
                        <label><span class="font-xs text-danger-dk">*</span> Nombre</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input" ng-class="{'selected':store.reference}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                               ng-model="store.reference" ng-required="true" ng-minlength="1"
                               tabindex="102" autofocus aria-required="true"
                               ng-class="{'b-b-danger':_form.error.reference && _form.error.reference.error && _form.error.reference.value==store.reference}" name="reference">
                        <label><span class="font-xs text-danger-dk">*</span> Código
                            &nbsp;<span class="label bg-danger pos-rlt m-r-xs" ng-show="_form.error.reference && _form.error.reference.error && _form.error.reference.value==store.reference"><b class="arrow left b-danger pull-in"></b>{{_form.error.reference.message}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-select" ng-class="{'selected':store.subsidiary}">
                        <label><span class="font-xs text-danger-dk">*</span>Sucursal</label>
                        <ui-select name="subsidiary" ng-model="store.subsidiary" tabindex="103" ng-required="true">
                            <ui-select-match placeholder="Seleccione Sucursal...">
                                {{$select.selected.name}} ({{$select.selected.reference}})
                            </ui-select-match>
                            <ui-select-choices repeat="subsidiary.id as subsidiary in subsidiaries|orderBy:'+name' | filter: $select.search">
                                <div ng-bind-html="subsidiary.name+' ('+subsidiary.reference+')' | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input"  ng-class="{'selected':store.address}">
                        <input class="md-input"
                               ng-model="store.address" tabindex="104"
                               name="address">
                        <label>Dirección</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input"  ng-class="{'selected':store.phone}">
                        <input class="md-input"
                               ng-model="store.phone" tabindex="105" type="tel"
                               name="phone">
                        <label>Teléfono</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="qmd-textarea selected">
                        <textarea ckeditor class="md-input"
                                  ng-model="store.notes" tabindex="106"
                                  name="notes" rows="2"></textarea>
                        <label>Notas</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger-dk font-sm">
                    <label class="md-switch">
                        <input type="checkbox" ng-model="store.active" checked tabindex="107">
                        <i class="green"></i>
                        <span ng-class="{'text-success':store.active, 'text-warning-dk':!store.active}">
                            <span ng-show="store.active">Activo</span>
                            <span ng-show="!store.active">Inactivo</span>
                        </span>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger-dk text-right font-sm">
                    <span class="font-xs text-danger-dk">*</span> Campos Obligatorios
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div ng-show="_form.error.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger">
                            <i class="icon fa fa-remove"></i> {{_form.error.general.message}}
                        </div>
                        <div ng-show="_form.success.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-success">
                            <i class="icon fa fa-check"></i> {{_form.success.general.message}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
                    <button class="btn btn-default" ng-click="_goBack()" type="button">Volver</button>
                    <button class="btn btn-addon btn-primary" ng-hide="original" ng-disabled="form.$invalid || requesting!=''" type="submit"><i class="fa fa-plus"></i>Crear Bodega/Tienda</button>
                    <button class="btn btn-addon btn-primary" ng-show="original" ng-disabled="form.$invalid || !_validate() || requesting!=''" type="submit"><i class="fa fa-pencil"></i>Guardar Bodega/Tienda</button>
                </div>
            </div>
        </form>
    </div>
</div>