  <div class="panel panel-default">
    <div class="panel-heading">
      Bodegas/Tiendas
      <div style="float: right">
        <button class="md-btn md-fab m-b blue" ng-click="add()" ng-show="_p.isAdmin() || _p.hasPermission(_pn.STORE_CREATE)">
          <i class="mdi-content-add i-24"></i>
        </button>
        <button class="md-btn md-fab m-b bg-white" ng-click="get()">
          <i class="mdi-navigation-refresh i-24"></i>
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-click="sort('name')">
            Nombre
            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('reference')">
            Referencia
            <span class="glyphicon sort-icon" ng-show="sortKey=='reference'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('subsidiary')">
            Sucursal
            <span class="glyphicon sort-icon" ng-show="sortKey=='subsidiary'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('active')" class="text-center">
            Activo
          </th>
          <th></th>
        </tr>
      <tr>
        <th>
          <input ng-model="search.name" class="form-control" placeholder="Buscar por nombre">
        </th>
        <th>
          <input ng-model="search.reference" class="form-control" placeholder="Buscar por referencia">
        </th>
        <th>
          <input ng-model="search.subsidiary" class="form-control" placeholder="Buscar por sucursal">
        </th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search:strict|itemsPerPage:pageSize">
          <td>{{item.name}}</td>
          <td>{{item.reference}}</td>
          <td>{{item.subsidiary}}</td>
          <td class="text-center">
            <i ng-show="!item.active" class="btn-rounded btn-icon icon mdi-action-highlight-remove red i-24 panel-card"></i>
            <i ng-show="item.active" class="btn-rounded btn-icon icon mdi-navigation-check green i-24 panel-card"></i>
          </td>
          <td class="mw-md mxw-md">
            <div class="btn-group btn-group-justified m-b">
              <a href class="btn btn-rounded btn-info btn-icon" ng-click="showDetail(_item)"><i class="icon glyphicon glyphicon-search i-16"></i></a>
              <a href class="btn btn-rounded btn-danger btn-icon" ng-show="_p.isAdmin() || _p.hasPermission(_pn.STORE_DELETE)"><i class="icon glyphicon glyphicon-trash i-16"></i></a>
              <a href class="btn btn-rounded btn-warning btn-icon" ng-show="_p.isAdmin() || _p.hasPermission(_pn.STORE_UPDATE)"><i class="icon fa fa-pencil-square-o i-16"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-center">
            <label style="float: left;">Elementos por página: <input type="number" ng-model="pageSize" style="width: 50px; text-align: right;"></label>
            <dir-pagination-controls style="float: right;"
                    max-size="10"
                    direction-links="true"
                    boundary-links="true">
            </dir-pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
