<nav ui-nav>
  <ul class="nav">
    <li class="nav-header m-v-sm hidden-folded">
      Menú
    </li>
    <li ui-sref-active="active">
      <a md-ink-ripple ui-sref="app.subsidiary">
        <i class="icon fa fa-building i-20"></i>
        <span class="font-normal">Sucursales</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a md-ink-ripple ui-sref="app.store">
        <i class="icon mdi-action-store i-20"></i>
        <span class="font-normal">Bodegas/Tiendas</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a md-ink-ripple ui-sref="app.product">
        <i class="icon fa fa-cube i-20"></i>
        <span class="font-normal">Productos</span>
      </a>
    </li>
  </ul>
</nav>
