<nav ui-nav>
  <ul class="nav">
    <li class="nav-header m-v-sm hidden-folded">
      Menú
    </li>
    <li ui-sref-active="active">
      <a md-ink-ripple ui-sref="app.dashboard">
        <i class="icon fa fa-home i-20"></i>
        <span class="font-normal">Inicio</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.RECORD_LIST)">
      <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon mdi-maps-layers i-20"></i>
        <span class="font-normal">Registros</span>
      </a>
      <ul class="nav nav-sub">
        <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.RECORD_LIST)">
          <a md-ink-ripple ui-sref="app.record">
            <i class="icon fa fa-search i-16"></i>
            <span class="font-normal">Consultar</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.RECORD_CREATE)">
          <a md-ink-ripple ui-sref="app.recordAdd">
            <i class="icon fa fa-plus i-16"></i>
            <span class="font-normal">Nuevo</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="false && (_p.isAdmin() || _p.hasPermission(_pn.RECORD_IMPORT))">
          <a md-ink-ripple ui-sref="app.recordImport">
            <i class="icon glyphicon glyphicon-import i-16"></i>
            <span class="font-normal">Importar</span>
          </a>
        </li>
      </ul>
    </li>
    <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.CERTIFICATE_LIST)">
      <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon fa fa-certificate i-20"></i>
        <span class="font-normal">Certificados</span>
      </a>
      <ul class="nav nav-sub">
        <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.CERTIFICATE_LIST)">
          <a md-ink-ripple ui-sref="app.certificate">
            <i class="icon fa fa-search i-16"></i>
            <span class="font-normal">Consultar</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.CERTIFICATE_CREATE)">
          <a md-ink-ripple ui-sref="app.certificateAdd">
            <i class="icon fa fa-plus i-16"></i>
            <span class="font-normal">Nuevo</span>
          </a>
        </li>
      </ul>
    </li>
    <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PRODUCT_LIST)">
      <a md-ink-ripple ui-sref="app.product">
        <i class="icon fa fa-cube i-20"></i>
        <span class="font-normal">Productos</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.STORE_LIST)">
      <a md-ink-ripple ui-sref="app.store">
        <i class="icon mdi-action-store i-20"></i>
        <span class="font-normal">Bodegas/Tiendas</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.SUBSIDIARY_LIST)">
      <a md-ink-ripple ui-sref="app.subsidiary">
        <i class="icon fa fa-building i-20"></i>
        <span class="font-normal">Sucursales</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.EXTERNAL_LIST)">
      <a md-ink-ripple ui-sref="app.external">
        <i class="icon mdi-maps-local-shipping i-20"></i>
        <span class="font-normal">Proveedores/Clientes</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.USER_LIST)">
      <a md-ink-ripple ui-sref="app.user">
        <i class="icon fa fa-users i-20"></i>
        <span class="font-normal">Usuarios</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PROFILE_LIST)">
      <a md-ink-ripple ui-sref="app.profile">
        <i class="icon mdi-action-assignment-ind i-20"></i>
        <span class="font-normal">Perfiles</span>
      </a>
    </li>
  </ul>
</nav>
