<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="padding: 5px;">
              <h2>Qualitrix Web Client</h2>
              <p>{{package.description}}</p>
              <p><strong>Version {{package.version}} - Release {{package.release}}</strong></p>
              <p>Last Release Date March 4th/2017</p>
              <p>Author {{package.author}}</p><sub>All rights reserved © {{package.year}}</sub>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ng-include src="apiContentUri"></ng-include>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    ga('send','event','about',JSON.parse(localStorage.USER_DATA).profile[0].name);
</script>
