<flash-message duration="10000" show-close="true"></flash-message>
  <div class="panel panel-default">
    <div class="panel-heading">
      Registros
      <div style="float: right">
        <button class="md-btn md-fab m-b blue" ng-click="add()" ng-show="_p.isAdmin() || _p.hasPermission(_pn.RECORD_CREATE)">
          <i class="mdi-content-add i-24"></i>
        </button>
        <button class="md-btn md-fab m-b bg-white" ng-click="get()">
          <i class="mdi-navigation-refresh i-24"></i>
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <tr>
        <td>
          <md-select ng-model="subsidiary" placeholder="Seleccione Sucursal">
            <md-option ng-repeat="subsidiary in subsidiaries" ng-value="subsidiary.id">{{ subsidiary.name }}</md-option>
          </md-select>
        </td>
        <td>
          <md-select ng-model="store" placeholder="Seleccione Tienda/Bodega">
            <md-option ng-repeat="store in stores|filter:subsidiary|orderBy:'+name'" ng-value="store.id">{{ store.name }}</md-option>
          </md-select>
        </td>
        <td>
          <md-select ng-model="product" placeholder="Seleccione Producto" ng-change="get()">
            <md-option ng-repeat="product in products|filter:store|orderBy:'+name'" ng-value="product">{{ product.name }} ({{product.reference}})</md-option>
          </md-select>
        </td>
      </tr>
    </table>
    <table class="table table-striped table-scroll-x">
      <thead ng-show="product">
        <tr>
          <th ng-click="sort('reference')" >
            Referencia
            <span class="glyphicon sort-icon" ng-show="sortKey=='reference'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('analisys_date')" class="mw">
            Fecha Análisis
            <span class="glyphicon sort-icon" ng-show="sortKey=='analisys_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('elaboration_date')" class="mw">
            Fecha Elaboración
            <span class="glyphicon sort-icon" ng-show="sortKey=='elaboration_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('due_date')" class="mw">
            Fecha Vencimiento
            <span class="glyphicon sort-icon" ng-show="sortKey=='due_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('reception_date')" class="mw">
            Fecha Recepción
            <span class="glyphicon sort-icon" ng-show="sortKey=='reception_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-repeat="property in product.properties" >
            <div ng-bind-html="property.name"></div>
          </th>
          <th ng-click="sort('user')" >
            Usuario
            <span class="glyphicon sort-icon" ng-show="sortKey=='user'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('veredict')" >
            Desición
            <span class="glyphicon sort-icon" ng-show="sortKey=='veredict'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('remission')" >
            Remisión
            <span class="glyphicon sort-icon" ng-show="sortKey=='remission'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('quantity')" >
            Cantidad
            <span class="glyphicon sort-icon" ng-show="sortKey=='quantity'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('existing_quantity')" >
            Cantidad Existente
            <span class="glyphicon sort-icon" ng-show="sortKey=='existing_quantity'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('supplier')" class="mw-md">
            Proveedor
            <span class="glyphicon sort-icon" ng-show="sortKey=='supplier'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('satisfies')" class="text-center">
            Cumple
            <span class="glyphicon sort-icon" ng-show="sortKey=='satisfies'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th></th>
        </tr>
      <tr>
        <th>
          <input ng-model="search.reference" class="form-control" placeholder="Buscar por lote">
        </th>
        <th>
          <input ng-model="search.analysis_date" class="form-control" placeholder="Buscar por fecha de analisis">
        </th>
        <th>
          <input ng-model="search.elaboration_date" class="form-control" placeholder="Buscar por fecha de elaboracion">
        </th>
        <th>
          <input ng-model="search.due_date" class="form-control" placeholder="Buscar por fecha de vencimiento">
        </th>
        <th>
          <input ng-model="search.reception_date" class="form-control" placeholder="Buscar por fecha de recepción">
        </th>
        <th colspan="{{product.properties.length}}">
          <input ng-show="true" ng-model="search.properties.value" class="form-control" placeholder="Buscar por propiedad">
        </th>
        <th>
          <input ng-model="search.user" class="form-control" placeholder="Buscar por usuario">
        </th>
        <th>
          <input ng-model="search.veredict" class="form-control" placeholder="Buscar por desición">
        </th>
        <th>
          <input ng-model="search.remission" class="form-control" placeholder="Buscar por remisión">
        </th>
        <th>
          <input ng-model="search.quantity" class="form-control" placeholder="Buscar por cantidad">
        </th>
        <th>
          <input ng-model="search.existing_quantity" class="form-control" placeholder="Buscar por cantidad existente">
        </th>
        <th>
          <input ng-model="search.supplier" class="form-control" placeholder="Buscar por proveedor">
        </th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody ng-show="product && !loading">
        <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search:strict|itemsPerPage:pageSize">
          <td>{{item.reference}}</td>
          <td>{{item.analysis_date| date:'yyyy-MM-dd'}}</td>
          <td>{{item.elaboration_date| date:'yyyy-MM-dd'}}</td>
          <td>{{item.due_date| date:'yyyy-MM-dd'}}</td>
          <td>{{item.reception_date| date:'yyyy-MM-dd'}}</td>
          <td ng-repeat="property in product.properties">
            <span ng-repeat="p in item.properties|filter:property.id">{{p.value}}</span>
          </td>
          <td>{{item.user}}</td>
          <td>{{item.veredict}}</td>
          <td class="text-right">{{item.remission|number:0}}</td>
          <td class="text-right">{{item.quantity|number:0}}</td>
          <td class="text-right">{{item.existing_quantity|number:0}}</td>
          <td>{{item.supplier}}</td>
          <td class="text-center">
            <i ng-show="!item.satisfies" class="btn-rounded btn-icon icon mdi-action-highlight-remove red i-24 panel-card"></i>
            <i ng-show="item.satisfies" class="btn-rounded btn-icon icon mdi-navigation-check green i-24 panel-card"></i>
          </td>
          <td>
          <td class="mw-md mxw-md">
            <div class="btn-group btn-group-justified m-b">
              <a href class="btn btn-rounded btn-info btn-icon" ng-click="showDetail(item)"><i class="icon glyphicon glyphicon-search i-16"></i></a>
              <a href class="btn btn-rounded btn-danger btn-icon" ng-show="_p.isAdmin() || _p.hasPermission(_pn.RECORD_DELETE)" ng-click="delete(item)"><i class="icon glyphicon glyphicon-trash i-16"></i></a>
              <a href class="btn btn-rounded btn-warning btn-icon" ng-show="_p.isAdmin() || _p.hasPermission(_pn.RECORD_UPDATE)"><i class="icon fa fa-pencil-square-o i-16"></i></a>
            </div>
          </td>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="product && loading">
        <tr>
          <td colspan="{{13+product.properties.length}}" class="text-center">
            <md-progress-linear class="md-warn m-b" md-mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}">
            </md-progress-linear>
          </td>
        </tr>
      </tbody>
      <tfoot ng-show="product">
        <tr>
          <td colspan="{{13+product.properties.length}}" class="text-center">
            <label style="float: left;">Elementos por página: <input type="number" ng-model="pageSize" style="width: 50px; text-align: right;"> {{items.length}} Registros en Total</label>
            <dir-pagination-controls style="float: right;"
                    max-size="10"
                    direction-links="true"
                    boundary-links="true">
            </dir-pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
<script type="text/ng-template" id="delete">
  <div class="panel-heading indigo">
    Preparando borrado de muestra {{_item.reference}} del producto {{product.name}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="m-v-sm">
          ¿Está seguro que desea eliminar la muestra {{_item.reference}} del producto {{product.name}}?, tenga en cuenta que esta operación no se puede revertir.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button class="btn btn-default w-100" ng-click="_cancelDelete()">No, esto es un error, no quiero eliminar esta muestra.</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button class="btn btn-addon btn-danger w-100" ng-click="_doDelete(_item)"><i class="fa fa-trash"></i>Si, quiero eliminar la la muestra {{_item.reference}}</button>
      </div>
    </div>
  </div>
</script>