<flash-message duration="10000" show-close="true"></flash-message>
<div class="panel panel-default">
    <div class="panel-heading">
        Crear Usuario
    </div>
    <div class="panel-body">
        <form name="form" novalidate ng-submit="_create();">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="md-form-group float-label">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" name="username" ng-model="user.username"
                               ng-minlength="3" ng-required="true" tabindex="101" aria-required="true" aria-invalid="true" style=""
                               ng-class="{'b-b-danger':_form.error.username && _form.error.username.error && _form.error.username.value==user.username}" name="username">
                        <label><span class="font-xs text-danger-dk">*</span> Usuario
                            &nbsp;<span class="label bg-danger pos-rlt m-r-xs" ng-show="_form.error.username && _form.error.username.error && _form.error.username.value==user.username"><b class="arrow left b-danger pull-in"></b>{{_form.error.username.message}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="md-switch p-h-xs w-100">
                        <span class='font-xs text-danger-dk f-l'>*</span>
                        <md-select ng-model="user.profile" name="profile" class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched w-auto"
                                   placeholder="Seleccione Perfil" ng-required="true" tabindex="102" aria-required="true" aria-invalid="true">
                            <md-option ng-repeat="profile in profiles|orderBy:'name'" ng-value="profile.id">{{ profile.name }} <small>{{profile.description}}</small></md-option>
                        </md-select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="md-form-group float-label">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" name="password" ng-model="user.password"
                               ng-minlength="6" ng-required="true" tabindex="103" aria-required="true" aria-invalid="true" style="" type="password">
                        <label><span class="font-xs text-danger-dk">*</span> Contraseña</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="md-form-group float-label">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" name="repeatPasword" ng-model="user.repeatPassword"
                               ng-minlength="6" ng-required="true" tabindex="104" aria-required="true" aria-invalid="true" style="" type="password"
                               ng-class="{'b-b-danger':user.password != user.repeatPassword && user.password != ''}" name="repeatPassword">
                        <label><span class="font-xs text-danger-dk">*</span> Repetir Contraseña
                            &nbsp;<span class="label bg-danger pos-rlt m-r-xs" ng-show="user.password != user.repeatPassword && user.password != ''"><b class="arrow left b-danger pull-in"></b>{{_form.error.repeatPassword.message}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="md-form-group float-label">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="user.firstname"
                               ng-required="true" ng-minlength="2" tabindex="105" autofocus aria-required="true" aria-invalid="true" style=""
                               name="firstname">
                        <label><span class="font-xs text-danger-dk">*</span> Nombres</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="md-form-group float-label">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="user.lastname"
                               ng-required="true" ng-minlength="2" tabindex="106" autofocus aria-required="true" aria-invalid="true" style=""
                               name="lastname">
                        <label><span class="font-xs text-danger-dk">*</span> Apellidos</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="md-form-group float-label">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="user.email"
                               ng-required="true" ng-minlength="6" tabindex="107" autofocus aria-required="true" aria-invalid="true" style=""
                               name="email" type="email">
                        <label><span class="font-xs text-danger-dk">*</span> Correo Electrónico</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger-dk font-sm">
                    <label class="md-switch">
                        <input type="checkbox" ng-model="user.active" checked tabindex="108">
                        <i class="green"></i>
                        <span ng-class="{'text-success':user.active, 'text-warning-dk':!user.active}">
                            <span ng-show="user.active">Activo</span>
                            <span ng-show="!user.active">Inactivo</span>
                        </span>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger-dk text-right font-sm">
                    <span class="font-xs text-danger-dk">*</span> Campos Obligatorios
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div ng-show="_form.error.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger">
                            <i class="icon fa fa-remove"></i> {{_form.error.general.message}}
                        </div>
                        <div ng-show="_form.success.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-success">
                            <i class="icon fa fa-check"></i> {{_form.success.general.message}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
                    <button class="btn btn-default" ng-click="_goBack()" type="button">Volver</button>
                    <button class="btn btn-addon btn-primary" ng-disabled="user.password === user.repeatPassword && form.$invalid || requesting!=''" type="submit"><i class="fa fa-plus"></i>Crear Usuario</button>
                </div>
            </div>
        </form>
    </div>
</div>