<flash-message duration="10000" show-close="true" class="floating-message"></flash-message>
<div class="panel panel-default">
    <div class="panel-heading">
        <span ng-hide="original">Crear Usuario</span>
        <span ng-show="original">Modificar Usuario {{original.firstname}} {{original.lastname}}({{original.username}})</span>
    </div>
    <div class="panel-body">
        <form name="form" novalidate ng-submit="_submit();">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input"  ng-class="{'selected':user.username}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" name="username" ng-model="user.username"
                               ng-minlength="3" ng-required="true" tabindex="101" aria-required="true" aria-invalid="true" style=""
                               ng-class="{'b-b-danger':_form.error.username && _form.error.username.error && _form.error.username.value==user.username}" name="username">
                        <label><span class="font-xs text-danger-dk">*</span> Usuario
                            &nbsp;<span class="label bg-danger pos-rlt m-r-xs" ng-show="_form.error.username && _form.error.username.error && _form.error.username.value==user.username"><b class="arrow left b-danger pull-in"></b>{{_form.error.username.message}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-select" ng-class="{'selected':user.profile}">
                        <label><span class="font-xs text-danger-dk">*</span>Perfil</label>
                        <ui-select name="profile" ng-model="user.profile" tabindex="103" ng-required="true">
                            <ui-select-match placeholder="Seleccione Perfil...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="profile.id as profile in profiles|orderBy:'+name' | filter: $select.search">
                                <div ng-bind-html="profile.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="_p.isAdmin() || _p.hasPermission(_pn.USER_RESET_PASSWORD)">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input"  ng-class="{'selected':user.password}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                               ng-model="user.password" type="password" ng-minlength="4"
                               tabindex="103"
                               name="password">
                        <label><span ng-show="user.password!=='' || user.repeatPassword!==''" class="font-xs text-danger-dk">*</span>Contraseña</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input"  ng-class="{'selected':user.repeatPassword}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" name="repeatPasword" ng-model="user.repeatPassword"
                               tabindex="104" type="password" ng-minlength="4"
                               ng-class="{'b-b-danger':user.password != user.repeatPassword && user.password != ''}">
                        <label><span ng-show="user.password!='' || user.repeatPassword!=''" class="font-xs text-danger-dk">*</span>Repetir Contraseña
                            &nbsp;<span class="label bg-danger pos-rlt m-r-xs" ng-show="user.password != user.repeatPassword && user.password != ''"><b class="arrow left b-danger pull-in"></b>{{_form.error.repeatPassword.message}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input"  ng-class="{'selected':user.firstname}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="user.firstname"
                               ng-required="true" ng-minlength="2" tabindex="105" autofocus aria-required="true" aria-invalid="true" style=""
                               name="firstname">
                        <label><span class="font-xs text-danger-dk">*</span> Nombre</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input"  ng-class="{'selected':user.lastname}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="user.lastname"
                               tabindex="106" name="lastname">
                        <label>Apellidos</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input"  ng-class="{'selected':user.email}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="user.email"
                               ng-required="true" ng-minlength="6" tabindex="107" autofocus aria-required="true" aria-invalid="true" style=""
                               name="email" type="email">
                        <label><span class="font-xs text-danger-dk">*</span> Correo Electrónico</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger-dk font-sm">
                    <label class="md-switch">
                        <input type="checkbox" ng-model="user.active" checked tabindex="108">
                        <i class="green"></i>
                        <span ng-class="{'text-success':user.active, 'text-warning-dk':!user.active}">
                            <span ng-show="user.active">Activo</span>
                            <span ng-show="!user.active">Inactivo</span>
                        </span>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger-dk font-sm" ng-show="_p.isAdmin()">
                <label class="md-switch">
                    <input type="checkbox" ng-model="user.isAdmin" checked tabindex="108">
                    <i class="green"></i>
                        <span ng-class="{'text-success':user.isAdmin}">
                            <span ng-show="user.active">Administrador</span>
                            <span ng-show="!user.active">No es Administrador</span>
                        </span>
                </label>
            </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger-dk text-right font-sm">
                    <span class="font-xs text-danger-dk">*</span> Campos Obligatorios
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div ng-show="_form.error.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger">
                            <i class="icon fa fa-remove"></i> {{_form.error.general.message}}
                        </div>
                        <div ng-show="_form.success.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-success">
                            <i class="icon fa fa-check"></i> {{_form.success.general.message}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
                    <button class="btn btn-default" ng-click="_goBack()" type="button">Volver</button>
                    <button class="btn btn-addon btn-primary" ng-hide="original" ng-disabled="user.password ==='' || user.password !== user.repeatPassword || form.$invalid || requesting!=''" type="submit"><i class="fa fa-plus"></i>Crear Usuario</button>
                    <button class="btn btn-addon btn-primary" ng-show="original" ng-disabled="user.password !== user.repeatPassword || form.$invalid || !_validate() || requesting!=''" type="submit"><i class="fa fa-pencil"></i>Guardar Usuario</button>
                </div>
            </div>
        </form>
    </div>
</div>