<flash-message duration="10000" show-close="true"></flash-message>
<div class="panel panel-default">
    <div class="panel-heading">
        <span ng-hide="original">Crear Perfil</span>
        <span ng-show="original">Modificar Perfil {{original.name}}</span>
    </div>
    <div class="panel-body">
        <form name="form" novalidate ng-submit="_submit();">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="qmd-input" ng-class="{'selected':profile.name}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                               ng-model="profile.name"
                               ng-required="true" ng-minlength="3" tabindex="101" autofocus aria-required="true"
                               aria-invalid="true" style=""
                               name="name">
                        <label><span class="font-xs text-danger-dk">*</span> Nombre</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="qmd-textarea" ng-class="{'selected':profile.description}">
                        <textarea class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                                  ng-model="profile.description" tabindex="107"
                                  name="description" rows="2"></textarea>
                        <label>Descripción</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="md-switch">
                        <input type="checkbox" ng-model="profile.active" checked>
                        <i class="green"></i>
                        <span ng-class="{'text-success':profile.active, 'text-warning-dk':!profile.active}">
                            <span ng-show="profile.active">Activo</span>
                            <span ng-show="!profile.active">Inactivo</span>
                        </span>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger-dk text-right font-sm">
                    <span class="font-xs text-danger-dk">*</span> Campos Obligatorios
                </div>
            </div>
            <div class="row p-v-sm">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
                    <fieldset>
                        <legend>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                                    <h4>Permisos</h4>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-4 text-right">
                                    <div class="input-group">
                                        <input type="search" ng-model="_search" placeholder="Filtrar" class="form-control">
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="_search = ''">
                                            <i class="icon fa fa-remove"></i>
                                        </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </legend>
                        <ul class="list-group list-group-alt">
                            <li class="list-group-item" ng-repeat="permission in permissions|filter:_search:'strict'|orderBy:'+name'">
                                {{permission.name}}<br/>
                                <small>{{permission.description}}</small>
                                <span class="pull-right">
                                    <label class="md-switch">
                                        <input type="checkbox" ng-model="profile.permissions[permission.reference]" ng-change="_updatePermissions()">
                                        <i class="green"></i>
                                        <span ng-class="{'text-success':profile.permissions[permission.reference], 'text-warning-dk':!profile.permissions[permission.reference]}">
                                            <span ng-show="profile.permissions[permission.reference]">Activo</span>
                                            <span ng-show="!profile.permissions[permission.reference]">Inactivo</span>
                                        </span>
                                    </label>
                                </span>
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div ng-show="_form.error.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger">
                            <i class="icon fa fa-remove"></i> {{_form.error.general.message}}
                        </div>
                        <div ng-show="_form.success.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-success">
                            <i class="icon fa fa-check"></i> {{_form.success.general.message}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
                    <button class="btn btn-default" ng-click="_goBack()" type="button">Volver</button>
                    <button class="btn btn-addon btn-primary" ng-hide="original" ng-disabled="form.$invalid || requesting!=''" type="submit"><i class="fa fa-plus"></i>Crear Perfil</button>
                    <button class="btn btn-addon btn-primary" ng-show="original" ng-disabled="form.$invalid || !_validate() || requesting!=''" type="submit"><i class="fa fa-pencil"></i>Guardar Perfil</button>
                </div>
            </div>
        </form>
    </div>
</div>
