<flash-message duration="10000" show-close="true" class="floating-message"></flash-message>
  <div class="panel panel-default">
    <div class="panel-heading">
      Perfiles
      <div style="float: right">
        <button class="md-btn md-fab m-b blue" ng-click="add()" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PROFILE_CREATE)">
          <i class="mdi-content-add i-24"></i>
        </button>
        <button class="md-btn md-fab m-b bg-white" ng-click="get()">
          <i class="mdi-navigation-refresh i-24"></i>
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-click="sort('name')">
            Usuario
            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('description')">
            Nombres
            <span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('active')" class="text-center">
            Activo
            <span class="glyphicon sort-icon" ng-show="sortKey=='active'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th></th>
        </tr>
      <tr>
        <th>
          <input ng-model="search.name" class="form-control" placeholder="Buscar por nombre">
        </th>
        <th>
          <input ng-model="search.description" class="form-control" placeholder="Buscar por descripción">
        </th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search:strict|itemsPerPage:pageSize">
          <td class="w-sm">
            <a href class="text-info" ng-click="showDetail(item)"><i class="icon glyphicon glyphicon-search i-16"></i></a>
            <a href class="text-danger" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PROFILE_DELETE)" ng-click="delete(item)"><i class="icon glyphicon glyphicon-trash i-16"></i></a>
            <a href class="text-warning" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PROFILE_UPDATE)"  ng-click="edit(item)"><i class="icon fa fa-pencil-square-o i-16"></i></a>
          </td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td class="text-center">
            <i ng-show="!item.active" class="btn-rounded btn-icon icon mdi-action-highlight-remove red i-24 panel-card"></i>
            <i ng-show="item.active" class="btn-rounded btn-icon icon mdi-navigation-check green i-24 panel-card"></i>
          </td>
          <td class="w-sm">
            <a href class="text-info" ng-click="showDetail(item)"><i class="icon glyphicon glyphicon-search i-16"></i></a>
            <a href class="text-danger" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PROFILE_DELETE)" ng-click="delete(item)"><i class="icon glyphicon glyphicon-trash i-16"></i></a>
            <a href class="text-warning" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PROFILE_UPDATE)"  ng-click="edit(item)"><i class="icon fa fa-pencil-square-o i-16"></i></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-center">
            <label style="float: left;">Elementos por página: <input type="number" ng-model="pageSize" style="width: 50px; text-align: right;"></label>
            <dir-pagination-controls style="float: right;"
                    max-size="10"
                    direction-links="true"
                    boundary-links="true">
            </dir-pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
<script type="text/ng-template" id="detail">
  <div class="panel-heading indigo">
    Perfil <strong>{{item.name}}</strong>
    <div style="float: right">
      <button class="md-btn md-fab red btn-danger waves" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PROFILE_DELETE)" ng-click="delete(item)">
        <i class="icon glyphicon glyphicon-trash i-16"></i>
      </button>
      <button class="md-btn md-fab orange btn-warning waves" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PROFILE_UPDATE)" ng-click="edit(item)">
        <i class="icon fa fa-pencil-square-o i-16"></i>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" ng-show="item && itemLoading">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <md-progress-circular class="m-auto" md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>
    <div ng-show="item && !itemLoading">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          Nombre: <span class="font-w100">{{item.name}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          Descripción: <span class="font-w100">{{item.description}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          Activo:
          <i ng-show="!item.active" class="btn-rounded btn-icon icon mdi-action-highlight-remove red i-24 panel-card"></i>
          <i ng-show="item.active" class="btn-rounded btn-icon icon mdi-navigation-check green i-24 panel-card"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
          <fieldset>
            <legend><h5>Permisos</h5></legend>
            <ul class="list-group list-group-alt list-group-sm">
              <li class="list-group-item" ng-repeat="permission in permissions|filter:_search:'strict'|orderBy:'+name'">
                  <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                      <div ng-repeat="(_p, _value) in item.permissions|orderBy:'+name'">
                        <i ng-show="_value && permission.reference===_p" class="btn-rounded btn-icon icon mdi-navigation-check green i-24 panel-card"></i>
                      </div>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
                      {{permission.name}}
                      <br /><small>{{permission.description}}</small>
                    </div>
                  </div>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
      <br />
      <div class="row" ng-show="!itemLoading">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-sm text-center-sm text-center-xs">
          Creado por: {{item.creator[0].firstname}} {{item.creator[0].lastname}}
          Fecha de Creación: {{item.created|date:'yyyy-MM-dd HH:mm'}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-sm text-right text-center-sm text-center-xs">
          Modificado por: {{item.modifier[0].firstname}} {{item.modifier[0].lastname}}
          Última Modificación: {{item.modified|date:'yyyy-MM-dd HH:mm'}}
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="delete">
  <div class="panel-heading indigo">
    Preparando borrado de perfil {{_item.name}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="m-v-sm">
          ¿Está seguro que desea eliminar el perfil {{_item.name}} ?, tenga en cuenta que esta operación no se puede revertir.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button class="btn btn-default w-100" ng-click="_cancelDelete()">No, esto es un error, no quiero eliminar este perfil.</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button class="btn btn-addon btn-danger w-100" ng-click="_doDelete(_item)"><i class="fa fa-trash"></i>Si, quiero eliminar el perfil {{_item.name}}</button>
      </div>
    </div>
  </div>
</script>