<flash-message duration="10000" show-close="true"></flash-message>
<div class="panel panel-default">
    <div class="panel-heading">
        Crear Certificado
    </div>
    <div class="panel-body">
        <form name="form" novalidate ng-submit="_create();">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="qmd-input"  ng-class="{'selected':certificate.date}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                               ng-model="certificate.date" type="date"
                               ng-required="true" ng-minlength="3" tabindex="101" autofocus aria-required="true"
                               aria-invalid="true" style=""
                               name="date">
                        <label><span class="font-xs text-danger-dk">*</span> Fecha</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="qmd-input"  ng-class="{'selected':certificate.date}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                               ng-model="certificate.date" type="time"
                               ng-required="true" ng-minlength="3" tabindex="101" autofocus aria-required="true"
                               aria-invalid="true" style=""
                               name="date">
                        <label><span class="font-xs text-danger-dk">*</span> Hora</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="qmd-select" ng-class="{'selected':certificate.subsidiary}">
                        <label><span class="font-xs text-danger-dk">*</span>Sucursal</label>
                        <ui-select name="subsidiary" ng-model="certificate.subsidiary" ng-change="updateStores()">
                            <ui-select-match placeholder="Seleccione Sucursal...">
                                {{$select.selected.name}} ({{$select.selected.reference}})
                            </ui-select-match>
                            <ui-select-choices repeat="subsidiary.id as subsidiary in subsidiaries|orderBy:'+name' | filter: $select.search">
                                <div ng-bind-html="subsidiary.name+' ('+subsidiary.reference+')' | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="qmd-select" ng-class="{'selected':certificate.store}">
                        <label>Tienda/Bodega</label>
                        <ui-select name="store" ng-model="certificate.store" ng-change="updateProducts()">
                            <ui-select-match placeholder="Seleccione Tienda/Bodega...">
                                {{$select.selected.name}} ({{$select.selected.reference}})
                            </ui-select-match>
                            <ui-select-choices repeat="store._id as store in stores|orderBy:'+name' | filter: $select.search">
                                <div ng-bind-html="store.name+' ('+store.reference+')' | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="qmd-select" ng-class="{'selected':certificate.product}">
                        <label><span class="font-xs text-danger-dk">*</span>Producto</label>
                        <ui-select ng-model="certificate.product" theme="bootstrap" ng-change="updateProperties()">
                            <ui-select-match placeholder="Seleccione Producto...">
                                {{$select.selected.name}} ({{$select.selected.reference}})
                            </ui-select-match>
                            <ui-select-choices repeat="product.id as product in products|orderBy:'+name' | filter: $select.search">
                                <div ng-bind-html="product.name+' ('+product.reference+')' | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="qmd-select" ng-class="{'selected':certificate.customer}">
                        <label><span class="font-xs text-danger-dk">*</span>Cliente</label>
                        <ui-select ng-model="certificate.customer" theme="bootstrap">
                            <ui-select-match placeholder="Seleccione Cliente...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="customer in externals|orderBy:'+name' | filter: $select.search">
                                <div ng-bind-html="customer.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="qmd-input"  ng-class="{'selected':certificate.remission}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                               ng-model="certificate.remission"
                               tabindex="101" autofocus aria-required="true"
                               name="remission">
                        <label>Remisión</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="qmd-input"  ng-class="{'selected':certificate.quantity!==''}">
                        <input class=" md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                               ng-model="certificate.quantity" type="text"
                               ng-required="true" ng-minlength="1" tabindex="101" autofocus aria-required="true"
                               aria-invalid="true" style=""
                               name="quantity">
                        <label><span class="font-xs text-danger-dk">*</span> Cantidad</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="qmd-input"  ng-class="{'selected':certificate.presentation}">
                        <input class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched"
                               ng-model="certificate.presentation"
                               ng-required="true" ng-minlength="3" tabindex="101" autofocus aria-required="true"
                               aria-invalid="true" style=""
                               name="presentation">
                        <label><span class="font-xs text-danger-dk">*</span> Presentación</label>
                    </div>
                </div>
            </div>
            <div class="row p-v-sm" ng-show="certificate.product">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <fieldset>
                        <legend class="m-v-xs">
                            <h5><span class="font-xs text-danger-dk">*</span>
                                Propiedades a mostrar del Producto</h5>
                        </legend>
                        <table class="table table-striped table-scroll-x">
                            <thead>
                                <tr>
                                    <th><div class="p-v-sm">Lote</div><br /></th>
                                    <th>
                                        <div class="p-v-sm text-capitalize text-center">Fecha Elaboración</div>
                                        <label class="md-switch text-capitalize text-center">
                                            <input type="checkbox" ng-model="certificate.properties['elaborationDate']">
                                            <i class="green"></i>
                                            <span ng-class="{'text-success':certificate.properties['elaborationDate'], 'text-warning-dk':!certificate.properties['elaborationDate']}">
                                                <span ng-show="certificate.properties['elaborationDate']">Visible</span>
                                                <span ng-show="!certificate.properties['elaborationDate']">Invisible</span>
                                            </span>
                                        </label>
                                    </th>
                                    <th>
                                        <div class="p-v-sm text-capitalize text-center">Fecha Vencimiento</div>
                                        <label class="md-switch">
                                            <input type="checkbox" ng-model="certificate.properties['dueDate']">
                                            <i class="green"></i>
                                            <span ng-class="{'text-success':certificate.properties['dueDate'], 'text-warning-dk':!certificate.properties['dueDate']}">
                                                <span ng-show="certificate.properties['dueDate']">Visible</span>
                                                <span ng-show="!certificate.properties['dueDate']">Invisible</span>
                                            </span>
                                        </label>
                                    </th>
                                    <th>
                                        <div class="p-v-sm text-capitalize text-center">Cantidad</div>
                                        <label class="md-switch">
                                            <input type="checkbox" ng-model="certificate.properties['quantity']">
                                            <i class="green"></i>
                                                <span ng-class="{'text-success':certificate.properties['quantity'], 'text-warning-dk':!certificate.properties['quantity']}">
                                                    <span ng-show="certificate.properties['quantity']">Visible</span>
                                                    <span ng-show="!certificate.properties['quantity']">Invisible</span>
                                                </span>
                                        </label>
                                    </th>
                                    <th ng-repeat="property in product.properties">
                                        <div ng-bind-html="property.name" class="p-v-sm text-capitalize text-center"></div>
                                        <label class="md-switch">
                                            <input type="checkbox" ng-model="certificate.properties[property.id]">
                                            <i class="green"></i>
                                            <span ng-class="{'text-success':certificate.properties[property.id], 'text-warning-dk':!certificate.properties[property.id]}">
                                                <span ng-show="certificate.properties[property.id]">Visible</span>
                                                <span ng-show="!certificate.properties[property.id]">Invisible</span>
                                            </span>
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in certificate.values">
                                    <td>{{item.reference}}</td>
                                    <td>{{item.elaboration_date| date:'yyyy-MM-dd'}}</td>
                                    <td>{{item.due_date| date:'yyyy-MM-dd'}}</td>
                                    <td class="text-right">{{item.quantity|number:0}}</td>
                                    <td ng-repeat="property in product.properties">
                                        <span ng-repeat="p in item.properties" ng-show="p.property == property.id">{{p.value}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="qmd-input" ng-class="{'selected':form.record}">
                        <ui-select name="record" ng-model="form.record" theme="bootstrap" ng-change="updateValues()">
                            <ui-select-match placeholder="">
                                {{$select.selected.reference}}
                            </ui-select-match>
                            <ui-select-choices repeat="r in records|orderBy:'+name' | filter: $select.search">
                                {{r.reference}} - Cantidad: {{r.quantity}} - Cantidad Existente: {{r.existing_quantity}} - Vencimiento: {{r.due_date|date}}
                            </ui-select-choices>
                        </ui-select>
                        <label>Seleccione Lote para agregar al certificado...</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="qmd-textarea" ng-class="{'selected':certificate.clause}">
                        <textarea class="md-input ng-invalid ng-invalid-required ng-touched"
                                  ng-model="certificate.clause" tabindex="107" ng-required="true"
                                  name="clause" rows="2"></textarea>
                        <label>Cláusula</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger-dk text-right font-sm">
                    <span class="font-xs text-danger-dk">*</span> Campos Obligatorios
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div ng-show="_form.error.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-danger">
                            <i class="icon fa fa-remove"></i> {{_form.error.general.message}}
                        </div>
                        <div ng-show="_form.success.general" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-success">
                            <i class="icon fa fa-check"></i> {{_form.success.general.message}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
                    <button class="btn btn-default" ng-click="_goBack()" type="button">Volver</button>
                    <button class="btn btn-addon btn-primary" ng-disabled="form.$invalid || certificate.values.length===0 || !validateCertificateProperties() || requesting!=''" type="submit"><i class="fa fa-plus"></i>Crear Certificado</button>
                </div>
            </div>
        </form>
    </div>
</div>
