  <div class="panel panel-default">
    <div class="panel-heading">
      Certificados
      <div style="float: right">
        <button class="md-btn md-fab m-b blue" ng-click="">
          <i class="mdi-content-add i-24"></i>
        </button>
        <button class="md-btn md-fab m-b bg-white" ng-click="get()">
          <i class="mdi-navigation-refresh i-24"></i>
        </button>
      </div>
    </div>
    <table class="table table-striped table-scroll-x">
      <thead>
        <tr>
          <th ng-click="sort('no')">
            No.
            <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('created')" class="mw">
            Fecha y Hora
            <span class="glyphicon sort-icon" ng-show="sortKey=='created'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('remission')">
            Orden de Despacho
            <span class="glyphicon sort-icon" ng-show="sortKey=='remission'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('customer')" class="mw-lg">
            Cliente
            <span class="glyphicon sort-icon" ng-show="sortKey=='cursomer'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('product')" class="mw-xxl">
            Producto
            <span class="glyphicon sort-icon" ng-show="sortKey=='product'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('quantity')">
            Cantidad
            <span class="glyphicon sort-icon" ng-show="sortKey=='quantity'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('presentation')">
            Presentación
            <span class="glyphicon sort-icon" ng-show="sortKey=='presentation'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('user')">
            Usuario
            <span class="glyphicon sort-icon" ng-show="sortKey=='user'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th></th>
        </tr>
      <tr>
        <th>
          <input ng-model="search.no" class="form-control" placeholder="Buscar por no. certificado">
        </th>
        <th>
          <input ng-model="search.created" class="form-control" placeholder="Buscar por fecha">
        </th>
        <th>
          <input ng-model="search.remission" class="form-control" placeholder="Buscar por orden de despacho">
        </th>
        <th>
          <input ng-model="search.customer" class="form-control" placeholder="Buscar por cliente">
        </th>
        <th>
          <input ng-model="search.product" class="form-control" placeholder="Buscar por producto">
        </th>
        <th></th>
        <th>
          <input ng-model="search.presentation" class="form-control" placeholder="Buscar por presentacion">
        </th>
        <th>
          <input ng-model="search.user" class="form-control" placeholder="Buscar por usuario">
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr dir-paginate="_item in items|orderBy:sortKey:reverse|filter:search:strict|itemsPerPage:pageSize">
          <td class="text-right pointer" ng-click="showDetail(_item)">{{_item.no|number:0}}</td>
          <td>{{_item.created|date:'yyyy-MM-dd HH:mm'}}</td>
          <td class="text-right">{{_item.remission|number:0}}</td>
          <td>{{_item.customer}}</td>
          <td>{{_item.product}}</td>
          <td class="text-right">{{_item.quantity|number:0}}</td>
          <td>{{_item.presentation}}</td>
          <td>{{_item.user}}</td>
          <td class="mw-md">
            <div class="btn-group btn-group-justified m-b">
              <a href class="btn btn-rounded btn-accent btn-icon" ng-click="showPrint(_item)"><i class="icon glyphicon glyphicon-print i-16"></i></a>
              <a href class="btn btn-rounded btn-info btn-icon" ng-click="showDetail(_item)"><i class="icon glyphicon glyphicon-search i-16"></i></a>
              <a href class="btn btn-rounded btn-danger btn-icon"><i class="icon glyphicon glyphicon-trash i-16"></i></a>
              <a href class="btn btn-rounded btn-warning btn-icon"><i class="icon fa fa-pencil-square-o i-16"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-center">
            <label style="float: left;">Elementos por página: <input type="number" ng-model="pageSize" style="width: 50px; text-align: right;"></label>
            <dir-pagination-controls style="float: right;"
                    max-size="10"
                    direction-links="true"
                    boundary-links="true">
            </dir-pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>
    <script type="text/ng-template" id="detail">
      <div class="panel-heading indigo">
        Certificado de Calidad No. <strong>{{item.no?item.no:item.id}}</strong>
      </div>
      <div class="panel-body">
        <div class="row" ng-show="item && itemLoading">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <md-progress-circular class="m-auto" md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>
        <div ng-show="item && !itemLoading">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center font-bold text-1x indigo-100 panel p-sm m-v-sm">Datos Generales</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <strong>Fecha y Hora:</strong> {{item.created|date:'yyyy-MM-dd HH:mm'}}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
              <strong>Usuario:</strong> {{item.creator[0].firstname}} {{item.creator[0].lastname}}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
              <strong>Orden de Despacho No. {{item.remission}}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <strong>Producto:</strong>
              {{item.product[0].name}} ({{item.product[0].reference}})
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-left">
              <strong>Cantidad:</strong> {{item.quantity|number:0}}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
              <strong>Presentación:</strong> {{item.presentation}}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
              <strong>Cliente:</strong> {{item.customer[0].name}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center font-bold text-1x indigo-100 panel p-sm m-v-sm">Propiedades</div>
          </div>
          <div class="row">
            <table class="table table-striped table-scroll-x">
              <thead>
                <tr>
                  <th ng-repeat="property in item.properties">
                    <div ng-bind-html="property.name"></div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="reference in item.values">
                  <td ng-repeat="property in item.properties">
                    <span ng-repeat="v in reference.values|filter:property.property:strict">{{v.value}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="print">
      <div class="panel-heading indigo">
        Certificado de Calidad <strong>{{item.no?item.no:item.id}}</strong>
      </div>
      <div class="panel-body">

      </div>
    </script>
  </div>
