<title>PQP</title>
<div class="row header">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img class="w-sm" src="images/logo/logo-pqp-title.png" title="Productos Químicos Panamericanos S.A.">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
        <h4 class="font-bold">PRODUCTOS QUIMICOS PANAMERICANOS S.A.</h4>
        <h5 class="font-bold">CERTIFICADO DE CALIDAD </h5>
        <h5 class="font-bold">No. {{item.subsidiary[0].reference}}{{item.id}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
        <qr text="qrcode" correction-level="'H'" size="96"></qr>
        <button class="md-btn md-fab m-b blue no-print" onclick="window.print()">
            <i class="icon glyphicon glyphicon-print i-24"></i>
        </button>
    </div>
</div>
<div class="row" ng-show="itemLoading">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <md-progress-circular class="m-auto" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<div class="row" ng-show="!itemLoading">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                PRODUCTO: <span class="font-w100">{{item.product[0].name}} ({{item.product[0].reference}})</span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
                FECHA: <span class="font-w100">{{item.date|date:'dd-MM-yyyy'}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                CLIENTE: <span class="font-w100">{{item.customer[0].name}}</span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                PRESENTACIÓN: {{item.presentation}}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
                HORA: <span class="font-w100">{{item.date|date:'HH:mm'}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                REMISIÓN: <span class="font-w100">{{item.remission}}</span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  col-sm-offset-4  col-md-offset-4 col-lg-offset-4 text-right">
                CÓDIGO DE VERIFICACION: <span class="font-w100 font-bold">{{item.verification}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                CANTIDAD: <span class="font-w100">{{item.quantity|number:0}} KG</span>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row" ng-show="!itemLoading">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center font-bold">
        <h6>ESPECIFICACIONES</h6>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <table class="properties">
            <thead class="font-w500 text-center">
                <tr>
                    <th ng-repeat="property in item.properties">
                        <div ng-bind-html="property.name" class="text-capitalize"></div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row" ng-show="!itemLoading">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center font-bold">
        <h6>RESULTADOS</h6>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <table class="properties">
            <tbody class="font-w100 text-right">
            <tr ng-repeat="reference in item.values">
                <td ng-repeat="property in item.properties">
                    <span ng-repeat="v in reference.values|filter:property.property:strict">{{v.value}}</span>
                    <span ng-show="property.name.indexOf('Cantidad')>=0"> KG</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="row" ng-show="!itemLoading">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row" ng-show="false">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                FECHA DE ELABORACIÓN:
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 font-w100">
                {{item.elaboration_date|date:'dd-MM-yyyy'}}
            </div>
        </div>
        <div class="row" ng-show="product.certification_nsf && item.due_date">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                VENCIMIENTO:
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 font-w100">
                {{item.due_date}}
            </div>
        </div>
        <div class="row" ng-show="product.certification_nsf && item.max_dose && item.max_dose != 'N/R'">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                DOSIS MÁXIMA:
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 font-w100">
                {{item.max_dose}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center-xs text-right">

    </div>
</div>
<br />
<div class="row" ng-show="!itemLoading && item.clause">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div ng-bind-html="item.clause"></div><br /><br />
    </div>
</div>
<div class="row" ng-show="!itemLoading">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
        <div class="row">
            <div class="col-lg-12">
                <span class="w-lg block m-xs f-l" style="border-bottom: 1px double lightgray;">{{item.leader}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <span class="font-w400">Jefe Control de Calidad</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <span class="font-w100">{{item.subsidiary[0].name}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
        <span class="w-lg block m-xs f-r" style="border-bottom: 1px double lightgray;">&nbsp;</span><br /><br />
        <span class="font-w400">RECIBIÓ</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <small class="text-xxs">Puede verificar éste certificado en la siguiente URL: <a href="{{qrcode}}" target="_blank">{{qrcode}}</a></small>
    </div>
</div>
<style>
    @media print {
        @page  {
            size: legal landscape;
        }
        #loading-bar, #loading-bar-spinner{
            display: none;
        }
        body, .app {
            overflow: hidden;
        }

        .no-print{
            display: none !important;
            visibility: hidden !important;
        }
    }
    @media all {
        body, .app{
            overflow-x: hidden;
            overflow-y: auto;
        }

        .properties{
            width: 100%;
            border: 1px double lightgray;
            border-bottom: double 3px #aFaFaF;
            border-top: double 3px #aFaFaF;
        }
        .properties thead th{
            border-bottom: 3px double #aFaFaF;
            border-top: 1px double lightgray;
            border-left: 1px double lightgray;
        }
        .properties thead th:last-child{
            border-right: 1px double lightgray;
        }
        .properties tbody tr td{
            border-bottom: 1px solid #e0e0e0;
        }
        .properties tr td, .properties tr th{
            padding: 2px;
            width: {{_width}}%;
        }
    .properties tbody tr td:nth-child(1), .properties thead tr th:nth-child(1),
    {
        text-align: left;
    }
    .properties tbody tr td:nth-child(1), .properties thead tr th:nth-child(1),
        .properties tbody tr td:nth-child(2), .properties thead tr th:nth-child(2)
        {
            width: 10%;
        }
    }

</style>
