<flash-message duration="10000" show-close="true" class="floating-message"></flash-message>
  <div class="panel panel-default">
    <div class="panel-heading">
      Productos
      <div style="float: right">
        <button class="md-btn md-fab m-b blue" ng-click="add()" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PRODUCT_CREATE)">
          <i class="mdi-content-add i-24"></i>
        </button>
        <button class="md-btn md-fab m-b bg-white" ng-click="get()">
          <i class="mdi-navigation-refresh i-24"></i>
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th ng-click="sort('name')">
            Nombre
            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('reference')">
            Referencia
            <span class="glyphicon sort-icon" ng-show="sortKey=='reference'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('store')">
            Bodega/Tienda
            <span class="glyphicon sort-icon" ng-show="sortKey=='store'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('active')" class="text-center">
            Activo
          </th>
          <th></th>
        </tr>
      <tr>
        <th></th>
        <th>
          <input ng-model="search.name" class="form-control" placeholder="Buscar por nombre">
        </th>
        <th>
          <input ng-model="search.reference" class="form-control" placeholder="Buscar por referencia">
        </th>
        <th>
          <input ng-model="search.store" class="form-control" placeholder="Buscar por bodega/tienda">
        </th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search:strict|itemsPerPage:pageSize">
          <td class="w-sm">
            <a href class="text-info" ng-click="showDetail(item)"><i class="icon glyphicon glyphicon-search i-16"></i></a>
            <a href class="text-danger" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PRODUCT_DELETE)" ng-click="delete(item)"><i class="icon glyphicon glyphicon-trash i-16"></i></a>
            <a href class="text-warning" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PRODUCT_UPDATE)"  ng-click="edit(item)"><i class="icon fa fa-pencil-square-o i-16"></i></a>
          </td>
          <td>{{item.name}}</td>
          <td>{{item.reference}}</td>
          <td>{{item.store}}</td>
          <td class="text-center">
            <i ng-show="!item.active" class="btn-rounded btn-icon icon mdi-action-highlight-remove red i-24 panel-card"></i>
            <i ng-show="item.active" class="btn-rounded btn-icon icon mdi-navigation-check green i-24 panel-card"></i>
          </td>
          <td class="mw-md mxw-md">
          <td class="w-sm">
            <a href class="text-info" ng-click="showDetail(item)"><i class="icon glyphicon glyphicon-search i-16"></i></a>
            <a href class="text-danger" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PRODUCT_DELETE)" ng-click="delete(item)"><i class="icon glyphicon glyphicon-trash i-16"></i></a>
            <a href class="text-warning" ng-show="_p.isAdmin() || _p.hasPermission(_pn.PRODUCT_UPDATE)"  ng-click="edit(item)"><i class="icon fa fa-pencil-square-o i-16"></i></a>
          </td>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-center">
            <label style="float: left;">Elementos por página: <input type="number" ng-model="pageSize" style="width: 50px; text-align: right;"></label>
            <dir-pagination-controls style="float: right;"
                    max-size="10"
                    direction-links="true"
                    boundary-links="true">
            </dir-pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
<script type="text/ng-template" id="delete">
  <div class="panel-heading indigo">
    Preparando borrado de producto {{_item.name}} ({{_item.reference}})
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="m-v-sm">
          ¿Está seguro que desea eliminar el producto {{_item.name}} ({{_item.reference}})?, tenga en cuenta que esta operación no se puede revertir.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button class="btn btn-default w-100" ng-click="_cancelDelete()">No, esto es un error, no quiero eliminar este producto.</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button class="btn btn-addon btn-danger w-100" ng-click="_doDelete(_item)"><i class="fa fa-trash"></i>Si, quiero eliminar el producto {{_item.name}} ({{_item.reference}})</button>
      </div>
    </div>
  </div>
</script>
